<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <infragistics.web enableAppStyling="true" styleSetName="Default" styleSetPath="~/ig_res/"/>
  <system.web>
    <pages>
      <controls>
        <add assembly="Infragistics45.Web.v18.1, Version=18.1.20181.1, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" namespace="Infragistics.Web.UI" tagPrefix="ig"/>
        <add assembly="Infragistics45.Web.v18.1, Version=18.1.20181.1, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" namespace="Infragistics.Web.UI.GridControls" tagPrefix="ig"/>
        <add assembly="Infragistics45.Web.v18.1, Version=18.1.20181.1, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" namespace="Infragistics.Web.UI.LayoutControls" tagPrefix="ig"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Infragistics45.Web.v18.1, Version=18.1.20181.1, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
</configuration>